html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: bold;
}
/* Cabeçalho */
header {
    background-color: rgb(50,31,115);
    padding: 20px;
    margin-top: 0px;
    box-shadow: 0 7px 2px rgba(0, 0, 0, 0.432);
}
header img#brasao {
    float: left;
}
header nav {
    margin: auto;
    width: 75%;
}
header nav a#link1 {
    margin-left: 200px;
}
header nav a#link2 {
    margin-right: 200px;
}
header nav a:link { 
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    padding: 20px;
}
header nav a:hover {
    text-decoration: underline;
    color: rgb(205, 205, 205);
    background-color: #653f95;
    border-radius: 5px;
}
header nav a:active {
    background-color: #875fb7;
}
header nav a:visited {
    color: rgb(255, 255, 255);
}
/* Conteúdo */
main {
    width: 60%;
    margin: auto;
    padding: 15px;
    background-color: #ececec;
    box-shadow: 7px 7px 2px rgba(0, 0, 0, 0.432);
}
main h1 {
    font-weight: normal;
    font-size: 2.5em;
}
main ul {
    list-style-type: none;
}
/* Formatação dos elementos de data, descrição e valor */
main ul li {
    float: left;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 5px;
}
.clear {
    clear: both;
}
main ul li select {
    border: none;
    border-radius: 5px;
    background-color: #ececec;
}
li input#data {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    background-color: #fff;
}
li#qual-item {
    border: none;
    border-bottom: 1px solid #ddd;
    width: 60%;
}
li#quantidade {
    border: none;
    border-bottom: 1px solid #ddd;
    width: 15%;
}
li#quantidade input {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    background-color: #eee;
    width: 30%;
}
main ul li input#item {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    background-color: #eee;
    width: 90%;
}
li#descricao-item {
    margin-top: 5px;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    float: left;
    clear: left;
    width: 60%;
}
li#descricao-item input#descricao{
    width: 75%;
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    background-color: #eee;
}
li#valor-item {
    border: none;
    border-bottom: 1px solid #ddd;
    margin-top: 5px;
    float: left;
    width: 35%;
}
li#valor-item input#valor {
    border: none;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
    background-color: #eee;
    width: 55%;
}
li#botao {
    border: none;
    float: right;
}
#botao button img {
    width: 30px;
    height: 30px;
}
button#enviar {
    border: 1px solid #ddd;
    padding: 10px 20px 10px 20px;
    background-color: #321f73;
    color: white;
    border-radius: 5px;
}
#enviar:hover {
    background-color: #653f95;
}
#enviar:active {
    background-color: #875fb7;
}
    /* Rodapé */
footer {
    clear: both;
    text-align: center;
    padding: 20px 0 20px 0;
    margin: 20px 0 0 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ddd;
}
footer p {
    display: inline;
    padding: 10px;
}
footer a {
    text-decoration: underline;
    color: #000;
}
footer a:hover {
    color: #aaa;
}
#home #navegacao #link1,
#consulta #navegacao #link2 {
    background-position: right bottom;
    background-color: #653f95;
    color: #fff;
    border-radius: 5px;
}