* {
    margin: 0;
}
html, body {
    height: 100%;
}
div#menu-vertical{
    background-color: rgb(92, 127, 224);
    float: left;
    height: 100%;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    text-align: center;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    padding-top: 20px;
    text-align: center;
}
li > a {
    text-decoration: none;
    padding: 2px;
    color: rgb(25, 35, 61);
}
li > a:hover {
    text-decoration: underline;
    background-color: aliceblue;
    border-radius: 3px;
}